# Ex 1

# Input: names are >> 'srikanth padma sriram prakash kittur godwin sathisan luke darrell charles kim morganti gireesh'
# Task: filter out names starting with A-M (one of first 13 ascii characters)

In [1]:
names = 'srikanth padma sriram prakash kittur godwin sathisan luke darrell charles kim morganti gireesh'.split()
names

['srikanth',
 'padma',
 'sriram',
 'prakash',
 'kittur',
 'godwin',
 'sathisan',
 'luke',
 'darrell',
 'charles',
 'kim',
 'morganti',
 'gireesh']

In [2]:
# filter out names starting with A-M (first 13 ascii)
import string

am_list = list(string.ascii_lowercase[:13])
am_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']

In [3]:
names_list = [name.title() for name in names if name[0] in am_list]

In [4]:
sorted(names_list)

['Charles',
 'Darrell',
 'Gireesh',
 'Godwin',
 'Kim',
 'Kittur',
 'Luke',
 'Morganti']

In [5]:
# Putting it together

import string

names = 'srikanth padma sriram prakash kittur godwin sathisan luke darrell charles kim morganti gireesh'.split()
am_list = list(string.ascii_lowercase[:13])

names_list = [name.title() for name in names if name[0] in am_list]
names_list

['Kittur',
 'Godwin',
 'Luke',
 'Darrell',
 'Charles',
 'Kim',
 'Morganti',
 'Gireesh']