### Read a CSV file:

In [1]:
import csv

with open('employee1.txt') as emp_list:
    csv_reader = csv.reader(emp_list, delimiter=',')
    line_count = 0
    
    for row in csv_reader:
        if line_count == 0:
            print(f'Column Names are: {",".join(row)}')
            line_count += 1
            
        else:
            print(f'\t{row[2]+row[1] } works as a {row[-1]} with a salary of USD{row[4]}')
            line_count += 1
            
    print(f'Processed: { line_count} lines')

Column Names are: empno, lname, fname, age, salary, position
	 Sheeja Sathisan works as a  Banker with a salary of USD 45000
	 John Miller works as a  Accountant with a salary of USD 43000
	 Haider Imran works as a  Executive with a salary of USD 150000
	 Adam Vancini works as a  Sr Executive with a salary of USD 175000
	 Sheryl Enomoto works as a  Consultant with a salary of USD 98000
Processed: 6 lines

In [2]:
# Test contents:

with open('employee1.txt') as emp_list:
    csv_reader = csv.reader(emp_list, delimiter=',')
  
    for row in csv_reader:
        print(row)

['empno', ' lname', ' fname', ' age', ' salary', ' position']
['101', ' Sathisan', ' Sheeja', ' 31', ' 45000', ' Banker']
['102', ' Miller', ' John', ' 45', ' 43000', ' Accountant']
['103', ' Imran', ' Haider', ' 51', ' 150000', ' Executive']
['104', ' Vancini', ' Adam', ' 55', ' 175000', ' Sr Executive']
['105', ' Enomoto', ' Sheryl', ' 51', ' 98000', ' Consultant']

### Write a CSV file:

In [3]:
import csv

with open('employee1.txt', mode='a') as emp_list:
    # mode='a' -- append
    # mode='w' -- write
    csv_writer = csv.writer(emp_list, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    
    csv_writer.writerow(['106', ' Sathisan', ' Chaithra', ' 25', ' 45000', ' Engineer'])

In [4]:
# Test contents:

with open('employee1.txt') as emp_list:
    csv_reader = csv.reader(emp_list, delimiter=',')
  
    for row in csv_reader:
        print(row)

['empno', ' lname', ' fname', ' age', ' salary', ' position']
['101', ' Sathisan', ' Sheeja', ' 31', ' 45000', ' Banker']
['102', ' Miller', ' John', ' 45', ' 43000', ' Accountant']
['103', ' Imran', ' Haider', ' 51', ' 150000', ' Executive']
['104', ' Vancini', ' Adam', ' 55', ' 175000', ' Sr Executive']
['105', ' Enomoto', ' Sheryl', ' 51', ' 98000', ' Consultant']
['106', ' Sathisan', ' Chaithra', ' 25', ' 45000', ' Engineer']

In [5]:
import pandas as pd

df = pd.read_csv('employee1.txt')
print(df)

   empno      lname      fname   age   salary       position
0    101   Sathisan     Sheeja    31    45000         Banker
1    102     Miller       John    45    43000     Accountant
2    103      Imran     Haider    51   150000      Executive
3    104    Vancini       Adam    55   175000   Sr Executive
4    105    Enomoto     Sheryl    51    98000     Consultant
5    106   Sathisan   Chaithra    25    45000       Engineer