### Ex 1 : List Comprehensions (+)

# Input: names are >> 'srikanth padma sriram prakash kittur godwin sathisan luke darrell charles kim morganti gireesh'
# Task: filter out names starting with A-M (one of first 13 ascii characters)

In [1]:
names = 'srikanth padma sriram prakash kittur godwin sathisan luke darrell charles kim morganti gireesh'.split()
names

['srikanth',
 'padma',
 'sriram',
 'prakash',
 'kittur',
 'godwin',
 'sathisan',
 'luke',
 'darrell',
 'charles',
 'kim',
 'morganti',
 'gireesh']

In [2]:
# filter out names starting with A-M (first 13 ascii)
import string

am_list = list(string.ascii_lowercase[:13])
am_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm']

In [3]:
names_list = [name.title() for name in names if name[0] in am_list]

In [4]:
sorted(names_list)

['Charles',
 'Darrell',
 'Gireesh',
 'Godwin',
 'Kim',
 'Kittur',
 'Luke',
 'Morganti']

In [5]:
# Putting it together

import string

names = 'srikanth padma sriram prakash kittur godwin sathisan luke darrell charles kim morganti gireesh'.split()
am_list = list(string.ascii_lowercase[:13])

names_list = [name.title() for name in names if name[0] in am_list]
names_list

['Kittur',
 'Godwin',
 'Luke',
 'Darrell',
 'Charles',
 'Kim',
 'Morganti',
 'Gireesh']

### Ex 2: Counter

# Most freqently used words in Harry Potter

In [12]:
from collections import Counter
import requests
import re

In [13]:
resp_text = requests.get("http://projects.bobbelderbos.com/pcc/harry.txt")
all_words = resp_text.text.lower().split()

In [14]:
words = [re.sub(r'\W+', r'', word) for word in all_words]
words[:5]

['the', 'boy', 'who', 'lived', 'mr']

In [15]:
resp_sw = requests.get('http://projects.bobbelderbos.com/pcc/stopwords.txt')
stop_words = resp_sw.text.lower().split()
stop_words[:5]

['a', 'about', 'above', 'across', 'after']

In [16]:
words = [word for word in words if word.strip() and word not in stop_words]
cntr = Counter(words)
cntr.most_common(10)

[('dursley', 45),
 ('dumbledore', 35),
 ('said', 32),
 ('mr', 30),
 ('professor', 30),
 ('mcgonagall', 25),
 ('mrs', 21),
 ('people', 21),
 ('didnt', 20),
 ('cat', 20)]