## Data Structures

### Lists

In [1]:
numlist = [5, -9, 23.2, 8, 3]

In [2]:
#1
numlist.append(101)
numlist

[5, -9, 23.2, 8, 3, 101]

In [3]:
#2
nl = [201, 301]
numlist.extend(nl)
numlist

[5, -9, 23.2, 8, 3, 101, 201, 301]

In [4]:
#3
numlist.insert(3, 501) # -- insert 501 at the "left" of index 3; so that index of 501 will be 3
numlist

[5, -9, 23.2, 501, 8, 3, 101, 201, 301]

In [5]:
#4
numlist.remove(501)
numlist

[5, -9, 23.2, 8, 3, 101, 201, 301]

In [6]:
numlist.remove(101)
numlist

[5, -9, 23.2, 8, 3, 201, 301]

In [7]:
#5
numlist.pop()
numlist

[5, -9, 23.2, 8, 3, 201]

In [8]:
last_in= numlist.pop()
last_in

201

In [9]:
item4 = numlist.pop(3)
item4

8

In [10]:
numlist

[5, -9, 23.2, 3]

In [11]:
#6 Shallow Copy
nl = numlist.copy()
nl.pop()
nl

[5, -9, 23.2]

In [12]:
numlist

[5, -9, 23.2, 3]

In [13]:
#7
nl.clear()
nl

[]

In [14]:
#8 
# Lists as Stacks -- LIFO
numlist.append(1001)
numlist.pop()

1001

In [15]:
#9
# Lists as Queue -- FIFO -- Operations are slow
numlist.insert(0,2001)
numlist

[2001, 5, -9, 23.2, 3]

In [16]:
numlist.pop(0)
numlist

[5, -9, 23.2, 3]

In [17]:
#10 *** deque ***

from collections import deque

ml = ['Eric', 'Emily', 'Emma', 'Elton', 'Eva']

mq = deque(ml)
mq

deque(['Eric', 'Emily', 'Emma', 'Elton', 'Eva'])

In [18]:
mq.appendleft('Enid')
mq

deque(['Enid', 'Eric', 'Emily', 'Emma', 'Elton', 'Eva'])

In [19]:
mq.popleft()

'Enid'

In [20]:
mq

deque(['Eric', 'Emily', 'Emma', 'Elton', 'Eva'])

In [21]:
mq.append('Enid')

In [22]:
mq

deque(['Eric', 'Emily', 'Emma', 'Elton', 'Eva', 'Enid'])

In [23]:
mq.pop()

'Enid'

In [24]:
mq

deque(['Eric', 'Emily', 'Emma', 'Elton', 'Eva'])

In [25]:
#11 *** List Comprehensions ***

squares = [x**2 for x in range(1,5)]
squares

[1, 4, 9, 16]

In [26]:
vec= [-4, -2, 1, 4, -5]

abs_vec = [abs(x) for x in vec]
abs_vec

[4, 2, 1, 4, 5]

In [27]:
stu_list = [' John ', ' James  ', 'Jim  ']
stu_list_stripped = [x.strip() for x in stu_list]
stu_list_stripped

['John', 'James', 'Jim']

In [28]:
from math import pi

pi_list = [float(round(pi, i)) for i in range(1, 12)]
pi_list

[3.1,
 3.14,
 3.142,
 3.1416,
 3.14159,
 3.141593,
 3.1415927,
 3.14159265,
 3.141592654,
 3.1415926536,
 3.14159265359]

In [29]:
# Create a list -- [(0,0), (1, 1), (2,4), (3, 9), (4, 16), (5, 25)]

tuple_list = [(x, x**2) for x in range(0, 6)]
tuple_list

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]